body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.20rem;
    font-weight: bold;
    color: black;
    line-height: 1.3;
    background-image: linear-gradient( 115deg, rgba(247, 193, 188, 0.8), rgba(236, 215, 202, 0.7)), url(img/beauty-salon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1,
p {
    margin: 0 0 0.375rem 0;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: none;
}

.container {
    width: 50%;
    margin: 3.125rem auto 0 auto;
}

.header {
    padding: 0 0.9375rem;
    margin-bottom: 1.875rem;
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: darkslategray;
}

#description {
    font-size: 23px;
}

.center {
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

form {
    background: rgba(196, 141, 137, 0.8);
    padding: 2.5rem 0.9375rem;
    border-radius: 3.125rem;
}

.form-group {
    margin: 0 auto 0.9375rem auto;
    padding: 0.3125rem;
}

.form-control {
    display: block;
    width: 95%;
    height: 2.5rem;
    padding: 0.375rem 0.75rem;
    color: #574949;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #dacece;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #ff8080;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.input-radio,
.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
    min-height: 120px;
    border-radius: 0.625rem;
    border: 2px solid #dacece;
    width: 95%;
    padding: 0.625rem;
    resize: vertical;
}

.submit-button {
    display: block;
    width: 99.5%;
    padding: 0.75rem;
    background: rgb(121, 64, 59);
    color: white;
    font-weight: bolder;
    border-radius: 0.625rem;
    cursor: pointer;
}

#footer {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    color: gray;
    font-weight: bold;
}


/*Responsive Desing*/

@media (max-width: 1024px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}